header, body {
	background-color: grey;
}

header {
	padding: 20px;
	#color: white;
	#background-color: black;
	text-align: center;
}

footer {
	position : absolute;
	bottom : 0;
	height : 40px;
	margin-top : 40px;
}

#body {
	left: 0px;
	position: absolute;
	width: 100%;
	min-height: calc(100% - 127px);;
}

.button {
	color: green;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
#dl {
	text-decoration: none; 
	color: white; 
}
#canvasDownloadButton {
	background-color: green; 
}